@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .link
{
    display: flex;
    align-items:center;
    text-decoration: none;
}
header .logo
{
    position: relative;
    max-width: 50px;
}
header .text
{
    color: #333;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
    display: inline-block;
}
header .text-colored
{
    color: #800077;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
    display: inline-block;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox
{
    position: relative;
    width: 40%;
    max-width: 600px;
}
.content .textBox h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span
{
    color: #800080;
    font-size: 1em;
    font-weight: 900;
}
.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    width: 130px;
    background: #800080;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .demo
{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
    margin-top: 0px;
    margin-left: 30px;
}
.content .demo video
{
    max-width: 100%;
    filter: drop-shadow(0 0 1.5rem #000000BB);
}
.content .demo .navigation 
{
    display: flex;
    position: relative;
    justify-content: center; 
    margin-left: 40px;
}
.content .demo .navigation .thumb
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content .demo .navigation .thumb li
{
    list-style: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}
.content .demo .navigation .thumb li:hover
{
    transform: translateX(-15%);
}
.content .demo .navigation .thumb li img
{
    max-width: 60px;
    transform: scale(0.6);
}
.credits
{
    position: absolute;
    left: 100px;
    bottom: 20px;
}
.credits a
{
    color: #800080;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
@media (orientation: portrait), only screen and (max-width: 1300px) {
    section 
    {
        align-items: baseline;
    }
    .content 
    {
        height: 100%;
        position: relative;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
    }
    .content .textBox
    {
        position: relative;
        max-width: 600px;
        width: 100%;
    }
    .content .demo {
        width: 100%;
        display: inline-block;
        justify-content: center;
        padding-right: 0px;
        margin-top: 30px;
        margin-left: 0px;
    }
    .content .demo .navigation 
    {
        width: 100%;
        margin-top: 30px;
    }
    .content .demo .navigation .thumb
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .content .demo .navigation .thumb li:hover
    {
        transform: translateY(-15%);
    }
}